<div class="title">
  <h2>{{ doctorId ? 'Editar Médico' : 'Novo Médico' }}</h2>
</div>
<div class="doctor-form-container">

  <form [formGroup]="doctorForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" type="text" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>CRM</mat-label>
      <input matInput formControlName="crm_number" type="text" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>UF do CRM</mat-label>
      <mat-select formControlName="crm_uf">
        <mat-option value="">Selecione</mat-option>
        <mat-option *ngFor="let uf of states" [value]="uf.acronym">{{ uf.acronym }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <mat-form-field appearance="outline" class="full-width">
      <mat-label>Especialidade</mat-label>
      <input matInput formControlName="specialty" type="text" />
    </mat-form-field> -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Especialidade</mat-label>
      <mat-select formControlName="specialty">
        <mat-option value="">Selecione</mat-option>
        <mat-option *ngFor="let s of specialties" [value]="s.specialty">{{ s.specialty }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Telefone</mat-label>
      <input matInput formControlName="phone" type="text" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="text" />
    </mat-form-field>

    <div class="buttons">
      <button type="submit" [disabled]="loading">Salvar</button>
      <button type="button" (click)="cancel()" [disabled]="loading">Cancelar</button>
    </div>

    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
  </form>
</div>