<div class="title">
  <h2>{{ specialtyId ? 'Editar Especialidade' : 'Nova Especialidade' }}</h2>
</div>
<div class="specialty-form-container">

  <form [formGroup]="specialtyForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" type="text" />
    </mat-form-field>

    <div class="buttons">
      <button type="submit" [disabled]="loading">Salvar</button>
      <button type="button" (click)="cancel()" [disabled]="loading">Cancelar</button>
    </div>

    @if(errorMessage){
    <p class="error">{{ errorMessage }}</p>
    }
  </form>
</div>