<div class="patients-container">
  <h2>Pacientes</h2>
  <div style="display: flex; justify-content: end; width: 100%; padding-block: 10px">
    <!-- Botão de adicionar -->
    <button mat-icon-button color="primary" routerLink="/patients/new" aria-label="Nova consulta">
      <mat-icon>add</mat-icon>
    </button>

    <!-- Botão de recarregar -->
    <button mat-icon-button color="primary" (click)="loadPatients()" aria-label="Recarregar consultas">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>

  @if(loading){
  <p>Carregando pacientes...</p>
  }

  @if(errorMessage){
  <p class="error">{{ errorMessage }}</p>
  }

  @if(!loading && patients.length > 0) {
  <app-table [columns]="columns" [data]="patients" [loading]="loading" [errorMessage]="errorMessage"
    emptyMessage="Nenhum médico encontrado.">
    <ng-template #customTemplates let-row let-key="key">
      <ng-container [ngSwitch]="key">
        <ng-container *ngSwitchDefault>{{ row[key] }}</ng-container>
      </ng-container>
    </ng-template>

    <ng-template #actionsTemplate let-patient>
      <button mat-icon-button color="primary" [routerLink]="['/patients/edit', patient.id]">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button color="warn" (click)="deletePatient(patient.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </ng-template>
  </app-table>
  }
  @if (!loading && patients.length === 0){
  <p>Nenhum paciente encontrado.</p>
  }

</div>